.AboutGrid{
  display: grid;
  gap: 30px;
}

.List {
  list-style: none;
  padding: 0;
}
.List li {
  margin-bottom: 8px;
  padding-left: 20px;
  position: relative;
}
.List li a {
  color: var(--primary);
  text-decoration: none;
}
